# Ignore most compiled Java files
*.class
*.jar
build/
bin/
target/

# But allow the Gradle wrapper jar to be included
!gradle/wrapper/gradle-wrapper.jar

.gradle/
.idea/
*.iml
*.iws
*.ipr
out/
output/

.DS_STORE
.env
.bsp/

# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

